.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

/Meta/
/doc/
/inst/doc/
/build/
/README.html

/inventory.rds
/aemet_csv/
/aemet_daily/
/mydata.csv
/fileTest.csv
/aemet2fdata.csv
/aemet_ldata*.rds
/aemet_ldata*.RData

inst/extdata/apikey.dat

# local files
/dev/mydata.csv
apikey.dat
